@import '../../global.scss';  

.logItem {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: $white-color;
    border-radius: 10px;
    font-family:$font-family-poppins;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   } 
  
   .logItem__date {
      font-size: 15px;
      color: $dark-color;
      font-weight:400;
      margin-right: 40px;
    }  

    .logItem__name {
      font-size: 15px;
      font-weight: 500;
      color: $dark-color;
      margin-right: auto;
    }
   
    .logItem__edit {
      background-color: $blue-color;
      border: none;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $blue-hover; 
      }
  
      &:active {
        background-color: $blue-hover;
      }

      .log-item__icon{
        width: 15px;
        height: 15px;
      }
    }
  
  