@import '../../global.scss';  

.logItem {
    display: flex;
    align-items: center;
    background-color: $white-color;
    border-radius: 10px;
    font-family:$font-family-poppins;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 328px;
    height: 60px;
    padding: 20px;
   } 
  
   .logItem__date {
      font-size: 15px;
      color: $dark-color;
      font-weight:400;
      margin-right: 50px;
    }  

    .logItem__name {
      font-size: 15px;
      font-weight: 500;
      color: $dark-color;
      margin-right: auto;
    }
   
    .logItem__edit {
      background-color: $blue-color;
      border: none;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $blue-hover; 
      }
  
      &:active {
        background-color: $blue-hover;
      }

      .log-item__icon{
        width: 13px;
        height: 13px;
      }
    }
  
    @media (min-width: 1024px) {
      
      .logItem{
        width: 742px;  
        height: 60px;
        padding: 30px;
      }
        .log-item__icon {
          width: 25px;  
          height: 25px;
        }

        .logItem__date {
          margin-right: 200px;
          font-size: 17px;
        }  
      
        .logItem__name{
          font-size: 17px;
        }
    }
    
  