@import '../../global.scss'; 

.button {
    display: flex;
    align-items: center;
    justify-content: center;     
    font-size: 17px;
    width: 328px;
    height: 58px;
    font-family: $font-family-poppins;
    font-weight: 600;
    color: $white-color;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
 
  //variants for buttons
  .orange {
    background-color: $orange-color;

    &:hover {
      background-color: $orange-hover;
    }
  }

  .blue {
    background-color: $blue-color;

    &:hover {
      background-color: $blue-hover;
    }
  }

  .red {
    background-color: $red-color;

    &:hover {
      background-color: $red-hover;
    }
  }

  .dark {
    background-color: $dark-color;

    &:hover {
      background-color: $dark-hover;
    }
  }
  
  .outline {
    color: $blue-color;
    background-color: $white-color;
    border: 3px solid $blue-color; 
  
    &:hover {
      background-color: $blue-hover;
      color: $white-color;
      border: none; 
    }
  }

  .small {
    margin-right: 15px;
    font-size: 14px;
  }


  .icon {
    margin-right: 10px;
    width: 24px; 
    height: 24px; 
  }

  @media (min-width: 1024px) {
    .button {
      width: 321px;
      height: 70px;
      font-size: 20px; 
      
      .icon {
        width: 27px;  
        height: 27px;
      }
    }
  }
  