$text-color: #3D3D3D;
$orange-color: #FD7F57;
$blue-color: #69CDFF;
$red-color: #EB534D;
$white-color: #FFFFFF;
$background-color: #F8F6F4;

$red-hover: #962723;
$orange-hover: #A74222;
$blue-hover: #29576F;


@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700&display=swap');
$font-family-poppins: "Poppins", sans-serif;

$poppins-regular: $font-family-poppins, 400;
$poppins-medium: $font-family-poppins, 500;
$poppins-semibold: $font-family-poppins, 600;
$poppins-bold: $font-family-poppins, 700;

body {
    font-family: $font-family-poppins;
  }

