@import '../../global.scss';

.recordingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.recordingArea {
  width: 100%;
  max-width: 640px; // Adjust for PoseDetection dimensions
  height: 480px;    // Match the PoseDetection canvas size
  background-color: #000; // Black background if no video is rendered
  border-radius: 8px;
  margin-bottom: 2rem;
  overflow: hidden;

  canvas {
    width: 100%;
    height: 100%;
  }
}


  .placeholderImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
