@import '../../global.scss';

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerParagraph {
  font-family: $font-family-poppins;
  color: $dark-color;
  font-size: 15px;
  width: 300px;
  text-align: center;
}

.titleHeader {
  font-weight: 700;
  margin: 0.5em 0;
  text-transform: uppercase;
}

.phoneL {
  font-family: $font-family-poppins;
  font-weight: 700;
  font-size: 35px;
}

.phoneM {
  font-family: $font-family-poppins;
  font-weight: 700;
  font-size: 30px;
}

.phoneS {
  font-family: $font-family-poppins;
  font-weight: 700;
  font-size: 25px;
}

@media (min-width: 1024px) {
  .phoneS {
    font-size: 60px; 
  }

  .phoneM {
    font-size: 70px; 
  }

  .phoneL {
    font-size: 70px; 
  }

  .headerParagraph {
    font-size: 18px;
    width: 450px;
  }
}
