@import '../../global.scss'; 

.headerParagraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-color;
    
    h1 {
    font: $poppins-bold;
    margin: 0.5em 0;
    }
  
    p {
    font: $poppins-regular;
    font-size: 15px;
    margin: 0.5em 0;
    }
  }