@import '../../global.scss'; 

.headerParagraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:$font-family-poppins;
    color: $dark-color;
}
    
.titleheader{
    font-weight: 700;
    margin: 0.5em 0;
    }
  
.p {
    font-weight: 400;
    font-size: 15px;
    margin: 0.5em 0;
    }
  

   //variants for font header heights

  .phoneL {
    font-family:$font-family-poppins;
    font-weight: 700;
    font-size: 35px;
  }

  .phoneM {
    font-family:$font-family-poppins;
    font-weight: 700;
    font-size: 30px;
  }

  .phoneS {
    font-family:$font-family-poppins;
    font-weight: 700;
    font-size: 25px;

  }

  .desktopS {
    font-family:$font-family-poppins;
    font-weight: 700;
    font-size: 60px;
  }

  .desktopM {
    font-family:$font-family-poppins;
    font-weight: 700;
    font-size: 70px;
  }

  