.logs-container {
    $font-family-poppins: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
  
    @media (min-width: 1024px) {
      flex-direction: row;
      height: 100vh;
    }
  
    .logs-section {
      flex: 1;
      padding: 2rem;
      overflow-y: auto;
      padding-bottom: 20px;
  
      @media (min-width: 1024px) {
        flex: 0 0 400px;
        max-width: 400px;
        border-right: 1px solid #eaeaea;
      }

      .logs-header {
        padding-bottom: 30px;
      }
  
      .log-item-container {
        margin-bottom: 1rem;
        display: flex; 
        flex-direction: column;
        align-items: center;
  
        .mobile-overview {
          margin-top: 1rem;
          padding: 1rem;
          background: #f9f9f9;
          border-radius: 8px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          width: 100%;
        }
      }
    }
  
    .workout-overview-section {
      flex: 1;
      padding: 2rem;
  
      @media (max-width: 1023px) {
        display: none;
      }
  
      .placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1rem;
        color: #999;
      }
    }
  }
  