.logs-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
  
    .logs-section {
        flex: 1;
        padding: 2rem;
        padding-top: 7.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logs_overview {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
        margin-top: 30px;
        align-items: center; 
        justify-content: center;
    }
  
    .logs_button-group {
        display: flex;
        flex-direction: column;
        gap: 13px;
        width: 100%;
        margin-top: 20px;
    }
  
    @media (min-width: 1024px) {
        align-items: flex-start;
        text-align: left;
        padding-left: 2rem;

        .logs-section {
            align-items: flex-start;
            padding-left: 2rem;
        }

        .logs_overview {
            align-items: flex-start;
            padding-left: 2rem;
        }

        .logs_button-group {
            flex-direction: row;
            justify-content: flex-start;
            gap: 100px;
            align-items: flex-start;
        }
    }
}

