.workout-overview {
  padding: 1rem;
  font-family: Arial, sans-serif;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }

  .button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

