.workout-overview {
  padding: 3rem;
  padding-top: 150px;

  .button-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 1024px) {
    .workout-overview {
      padding: 3rem;
      padding-top: 150px;
  }
  .button-wrapper {
    padding-top: 50px;
    
  }
} 
}


